{%load static%}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.standalone.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'listar_usuario' %}">Usuario <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'listar_grupo' %}">Grupo <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'listar_usuario_grupo' %}">UsuarioGrupo <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
      <div class="container-fluid">
          <div class="jumbotron">
             {%block main%}
             {%endblock%}
          </div>
      </div>


    <footer class="footer">
       <div class="container-fluid">
         <span class="text-muted">IFSP Instituto Federal de Educação Ciência e Tecnologia de São Paulo</span>
       </div>
   </footer>
   <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
   <script src="{% static 'js/jquery.mask.min.js' %}"></script>
   <script src="{% static 'js/jquery.maskMoney.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.js' %}"></script>
   <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
   <script src="{% static 'js/bootstrap-datepicker.pt-BR.min.js' %}"></script>
</body>
</html>
