{% extends "base.html" %}

{% load widget_tweaks %}

{%block main%}

<form class="form-horizontal" role="form" method="post" >
       {%csrf_token%}
  
       <div class="row">
	       <div class="col-sm-8 offset-2">
	          <div class="form-group {% if field.errors %} has-error {%endif%}">
	          <label for="id_grupo"
	                 class="col-sm-2 control-label">{{form.usuario_nome.label}}</label>
	                 {% render_field form.grupo class='form-control'%}
	                 {% for error in form.grupo.errors %}
	                    <span class="help-block">{{error}}</span>
	                 {% endfor %} 
	          </div>
	       </div>

            <div class="col-sm-8 offset-2">
	          <div class="form-group {% if field.errors %} has-error {%endif%}">
	          <label for="id_usuario"
	                 class="col-sm-2 control-label">{{form.usuario.label}}</label>
	                 {% render_field form.usuario class='form-control'%}
	                 {% for error in form.usuario.errors %}
	                    <span class="help-block">{{error}}</span>
	                 {% endfor %}
	          </div>
	       </div>

           <div class="offset-2 col-sm-2">
	              <button type="submit"
	                      class="btn btn-primary">Salvar</button>
          </div>
       </div> 

  </form>

{%endblock%}