{% extends "base.html" %}

{% load widget_tweaks %}

{%block main%}

<form class="form-horizontal" role="form" method="post" >
       {%csrf_token%}
  
       <div class="row">
	       <div class="col-sm-8 offset-2">
	          <div class="form-group {% if field.errors %} has-error {%endif%}">
	          <label for="id_usuario_nome"
	                 class="col-sm-2 control-label">{{form.grupo_nome.label}}</label>
	                 {% render_field form.grupo_nome class='form-control'%}
	                 {% for error in form.grupo_nome.errors %}
	                    <span class="help-block">{{error}}</span>
	                 {% endfor %} 
	          </div>
	       </div>
           <div class="col-sm-8 offset-2">
	          <div class="form-group {% if field.errors %} has-error {%endif%}">
	          <label for="id_permissao"
	                 class="col-sm-2 control-label">{{form.grupo_permissao.label}}</label>
	                 {% render_field form.grupo_permissao class='form-control'%}
	                 {% for error in form.grupo_permissao.errors %}
	                    <span class="help-block">{{error}}</span>
	                 {% endfor %}
	          </div>
	       </div>
           <div class="offset-2 col-sm-2">
	              <button type="submit"
	                      class="btn btn-primary">Salvar</button>
          </div>
       </div> 

  </form>

{%endblock%}