{% extends "base.html" %}

{% load widget_tweaks %}

{%block main%}

<form class="form-horizontal" role="form" method="post" >
       {%csrf_token%}
  
       <div class="row">

            <div class="col-sm-8 offset-2">
	          <div class="form-group {% if field.errors %} has-error {%endif%}">
	          <label for="id_permissao"
	                 class="col-sm-2 control-label">{{form.plano_contas_referencial.label}}</label>
	                 {% render_field form.plano_contas_referencial class='form-control'%}
	                 {% for error in form.plano_contas_referencial.errors %}
	                    <span class="help-block">{{error}}</span>
	                 {% endfor %}
	          </div>
	       </div>

	       <div class="col-sm-8 offset-2">
	          <div class="form-group {% if field.errors %} has-error {%endif%}">
	          <label for="id_usuario_nome"
	                 class="col-sm-2 control-label">{{form.plano_contas_descricao.label}}</label>
	                 {% render_field form.plano_contas_descricao class='form-control'%}
	                 {% for error in form.plano_contas_descricao.errors %}
	                    <span class="help-block">{{error}}</span>
	                 {% endfor %} 
	          </div>
	       </div>
             <div class="col-sm-8 offset-2">
	          <div class="form-group {% if field.errors %} has-error {%endif%}">
	          <label for="id_usuario_nome"
	                 class="col-sm-2 control-label">{{form.plano_contas_inicio_validade.label}}</label>
	                 {% render_field form.plano_contas_inicio_validade class='form-control'%}
	                 {% for error in form.plano_contas_inicio_validade.errors %}
	                    <span class="help-block">{{error}}</span>
	                 {% endfor %}
	          </div>
	       </div>

           <div class="col-sm-8 offset-2">
	          <div class="form-group {% if field.errors %} has-error {%endif%}">
	          <label for="id_usuario_nome"
	                 class="col-sm-2 control-label">{{form.plano_contas_fim_validade.label}}</label>
	                 {% render_field form.plano_contas_fim_validade class='form-control'%}
	                 {% for error in form.plano_contas_fim_validade.errors %}
	                    <span class="help-block">{{error}}</span>
	                 {% endfor %}
	          </div>
	       </div>

            <div class="col-sm-8 offset-2">
	          <div class="form-group {% if field.errors %} has-error {%endif%}">
	          <label for="id_usuario_nome"
	                 class="col-sm-2 control-label">{{form.plano_contas_tipo.label}}</label>
	                 {% render_field form.plano_contas_tipo class='form-control'%}
	                 {% for error in form.plano_contas_tipo.errors %}
	                    <span class="help-block">{{error}}</span>
	                 {% endfor %}
	          </div>
	        </div>

           <div class="offset-2 col-sm-2">
	              <button type="submit"
	                      class="btn btn-primary">Salvar</button>
          </div>
       </div> 

  </form>

<script>
  $(function () {
    $("#datetimepickerInicioValidade").datetimepicker({
      format: 'DD/MM/YYYY'
    });
    $("#datetimepickerFimValidade").datetimepicker({
      format: 'DD/MM/YYYY'
    });
  });
</script>
{%endblock%}