{% extends "base.html" %}

{% load widget_tweaks %}

{%block main%}

<div class="container">
    <div class="table-responsive">
        <table class="table
                      table-striped
                      table-bordered
                      table-hover
                      table-collapse">
         <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
         </thead>
         <tbody>
            {%for u in form%}
            <tr>
                <td>{{ u.usuario_nome }}</td>
                <td>{{ u.usuario_email }}</td>
				<td class="text-center">
				  <a id="idAlterar" class="btn btn-warning btn-sm"
				     title="Alterar dados do usuario"
					 href="{% url 'alterar_usuario' u.usuario_id%}">
                     <i class="fa fa-pencil-square" aria-hidden="true"></i>
            	  </a>
				  <a id="idExcluir" class="btn btn-danger btn-sm"
				     title="Excluir dados do usuario"
					 href="{% url 'remover_usuario' u.usuario_id%}">
                     <i class="fa fa-trash-o" aria-hidden="true"></i>
				  </a>
                  <a id="idConsultar" class="btn btn-info btn-sm"
				     title="Consultar dados do usuario"
					 href="{% url 'exibir_usuario' u.usuario_id%}">
                     <i class="fa fa-eye" aria-hidden="true"></i>
				  </a>
				</td>
            </tr>
            {%endfor%}
         </tbody>
        </table>
        <a id="idIncluir" class="btn btn-primary" href="{% url 'inserir_usuario' %}">Novo usuario <i class="fa fa-check-square-o" aria-hidden="true"></i></a>


    </div>


</div>
{%endblock%}
